<div class = "heading">
  <h1>Your vocabulary...</h1>
</div>

<div class = "chart_area">
  <div id="donut_chart">
  </div>
  <div id="pie_chart">
  </div>

  <div>
    <%= form_tag("", method: "get", class: "ego_button") do %>
      <%= label_tag("Also want to check the size of your ego?") %>
      <%= submit_tag("click here!") %>
    <% end %>
  </div>

  <div>
    <%= form_tag("/", method: "get", class: "back_button") do %>
      <%= label_tag("Back to the homepage:") %>
      <%= submit_tag("return") %>
    <% end %>
  </div>
</div>

